<div>
    <h2 class=" font-extrabold text-6xl pb-8 text-white">Database</h2>
    <div class="btn pb-8">
        <a class="outline-none border-2 bg-gray-50 border-white rounded-2xl hover:bg-yellow-400 px-8 py-1" href="/user"><i class="fa fa-plus"></i> Create User</a>
    </div>

    <div class="max-h-96 max-w-5xl overflow-auto">
        <table class="">
            <thead class="sticky top-0 right-0 left-0 bg-white">
                <tr class="border-b-2 ">
                    <th class="py-2 border-r-2 ">Name</th>
                    <th class="py-2 border-r-2 ">Phone</th>
                    <th class="py-2 border-r-2 ">Email</th>
                    <th class="py-2 pl-2 pr-2 border-r-2">Update</th>
                    <th class="py-2 pl-2 pr-2 border-r-2">Delete</th>
                </tr>
            </thead>
            <tbody class="text-white">
                {{#each Data}}
                <tr>
                    <td class="pl-5 pr-5 pt-3 ">{{this.name}}</td>
                    <td class="pl-5 pr-5 pt-3 ">{{this.phone}}</td>
                    <td class="pl-5 pr-5 pt-3 ">{{this.email}}</td>
                    <td class="pl-5 pr-5 pt-3 "><a class="hover:text-yellow-400 text-white"
                            href="/user/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a></td>
                            
                    <td class="pl-5 pr-5 pt-3  "><a class="hover:text-yellow-400 text-white" href="/user/delete/{{this._id}}"
                            onclick="return confirm('Are you sure to delete this record ?');"><i
                                class="fa fa-trash fa-lg" aria-hidden="true"></i></a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>